body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  padding-top: 7em;
}
/* =====

===== */

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  background: #f5f5f5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.double-nav .breadcrumb-dn {
  color: #fff;
}

.dieContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 10px;
  padding: 10px;
}
.die {
  height: 50px;
  background-color: #f5f5f5;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

/* .header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: purple;
  text-align: center;
  align-items: center;
  padding: 0px 10px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  grid-gap: 17px;
}

input {
  outline: none;
  border-radius: 1px;
}
.form-btn {
  border-radius: 1px solid #d5d4d8;
  grid-column: 1 / 3;
}
.box {
  border: 2px solid black;
  width: 50%;
  height: 50vh;
} */

.background {
  background-color: #0d0d0d;
}
.bg-darker {
  background-color: #121212;
}

.btn-purplish {
  background-color: #613dd5;
}

.dnm {
  background-color: white;
  padding: 10px;
  display: none; /* Hide the dropdown menu by default */
  animation: fadeInUp 0.3s ease; /* Apply animation for dropdown */
}
.dnm li {
  cursor: pointer;
}
.textarea-height {
  height: 150px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ck-editor__editable[role="textbox"] {
  min-height: 200px;
}

